<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: center;
        }

        .button-container {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <p>User created successfully</p>
        <div class="button-container">
            <a href="/inici" class="btn waves-effect waves-light">Inici</a>
        </div>
    </div>
</html>